<<<<<<< HEAD
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
   
}
.bg-video{
    position:fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    z-index: -1000;
}
#main-play-area{
    background-color: #000;
    background-image: url('img/space.png');
    width: 600px;
    height: 600px;
}

.instrucao p{
    width: 400px;
    font-size: 20px;
    line-height:2rem ;
}
.player-shooter{
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px;
}
.game-instructions {
    position: relative;
    color: white;
    left: 3rem;
    top: 0px;
    width: 500px;
}
.game-instructions span{
    font-size: 22px;
}

.start-button {
    position: relative;
    color: white;
    top: 9rem;
    left: 15rem;
    cursor: pointer;
}
.laser{
    position: relative;
    width: 40px;
    height: 30px;
}
.alien{
    height: 60px;
    width: 60px;
    position: relative;
}
.alien-transition{
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.dead-alien{
    height: 60px;
    width: 60px;
    position: relative;
    opacity: 0;
}
=======
body{
    margin: 0;
    background-color: #FAE5F0;
}
.main-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.genius{
    display: grid;
    grid-template-areas:'red green''blue yellow';
    grid-gap:10px;
    border: 20px solid #000;
    background:#000;
    border-radius: 100%;
    width: 700px;
    height:700px;
}
.blue{
    grid-area: blue;
    background-color: #2567C6;
    border-bottom-left-radius: 100%;
}
.yellow{
    grid-area: yellow;
    background-color:#E1F613 ;
   border-bottom-right-radius: 100%;
}
.red{
    grid-area: red;
    background-color:#F62413 ;
    border-top-left-radius: 100%;
}
.green{
    grid-area: green;
    background-color:#3C7339 ;
    border-top-right-radius: 100%;
}
.selected{
    opacity:0.4;
}
>>>>>>> b00021c651a7e5e445baaf90987fc2b7caa4b032
